body{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#text {
	width: 300px;
}

.red{
	background-color: red;
}

.green{
	background-color: green;
}

.yellow{
	background-color: yellow;
}

.blue{
	background-color: blue;
}

.purple{
	background-color: purple;
}