$color_1: #a85ed3;
$font-family_1: Arial, "Helvetica Neue", Helvetica, sans-serif;
$background-color_1: #dfdbdb;
$background-color_2: #74bee9;

body {
	margin: 0;
	padding: 0;
	font-family: $font-family_1;
	background-color: $background-color_1;
}
.hide {
	display: none !important;
}
ul {
	list-style: none;
}
.header {
	background-color: $background-color_2;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
.header-nav {
	display: flex;
	column-gap: 100px;
	align-items: center;
	justify-content: center;
	li {
		font-size: 30px;
		&:hover {
			color: $color_1;
		}
	}
}
.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
