div{
	margin-top: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


ul{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 5px;
}
button{
	margin-left: 5px;
}
